vcs.xml
.idea
requirements.txt
stepik_bs1/.ipynb_checkpoints
__pycache__/

# ignore work files
researches/projecteuler_problem15/python_scripts/out_1.txt
researches/projecteuler_problem15/python_scripts/out_2.txt
researches/projecteuler_problem15/python_scripts/out_3.txt
researches/projecteuler_problem15/python_scripts/out_4.txt
researches/file_names_dir/file_names.txt
researches/file_names_dir/file_names.xls
